fastapi>=0.111.0
uvicorn[standard]>=0.30.0
pydantic>=2.7.0
openai>=1.0.0
python-dotenv
google-generativeai
google-auth>=2.25.0
google-auth-oauthlib>=1.2.0
google-auth-httplib2>=0.2.0
python-jose[cryptography]>=3.3.0
passlib[bcrypt]>=1.7.4
python-multipart
pypdf
sqlalchemy>=2.0.0
PyJWT
